<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= expense.description %> edit</title>
</head>
<body>
    <h1>Edit page</h1>
    <a href="/">Back to home</a>

    <form action="/api/expenses/<%= expense.id %>/update" method="post">
        
        <input value="<%= expense.description %>" type="text" name="description" placeholder="enter description" required>
        <input value="<%= expense.amount %>" type="number" name="amount" placeholder="enter amount" required>
        <input value="<%= expense.category %>" type="text" name="category" placeholder="enter category" required>
        
        <button>Edit expense</button>
    </form>
</body>
</html>